* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    margin-left: 10px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: cornflowerblue;
    margin-top: 10px; 
}
/* Adyacent Siblin */
.adyacent-siblin h2 + p {
    color: red;
}

/* General Siblin */
.general-siblin h2 ~ p {
    color: red;
}

/* Child */
.child div > p {
    color: red;
}

/* Descendant */
.descendant div p {
    color: red;
}